/* основной цвет текста  #212121 */
/* вторичный цвет текста #757575 */
/* доп. цвет текста rgba(255, 255, 255, 0.6); */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* цвет фона #F5F4FA */
:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;
}

body {
    font-family: Roboto;
    color: var(--primary-text-color);
}
/* Шапка */
header, .card {
    background-color: var(--white);
}
.logo {
    color: var(--accent-color);
}
.logo-back {
   color: var(--primary-text-color); 
}
.link {
    color: var(--primary-text-color);
}
.link:hover, .link:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.contact {
    color: var(--second-text-color);
}
.contact:hover, .contact:focus {
    color: var(--accent-color);
}
/* Герой */
.hero, footer {
    background-color: #2F303A;
}
.hero-title, .hero-button {
    color: var(--white);
}
/* Ососбенности */
.title {
    color: var(--primary-text-color);
}
.text {
    color: var(--second-text-color);
}
/* Чем мы занимаемся */
.about-title {
    color: var(--primary-text-color);
}
/* Команда */
.team {
    background-color: #F5F4FA;
}
.team-title {
    color: var(--primary-text-color);
}

/* Подвал */
.logo-footer, .address {
    color: var(--white);
}
.mail, .tel {
    color: rgba(255, 255, 255, 0.6);
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus,
.address:hover,
.address:focus {
    color: var(--accent-color);
}
/* Примеры работ кнопки */
.exmp-button {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    border: none;
}
.exmp-button:hover, .exmp-button:focus {
    background-color: var(--accent-color);
    color: var(--white);
}
.examples {
    border: 1px solid #EEEEEE;
}